<div>
  <p>Pencil count: <%= @current_user.pencil_count %></p> 
  
  <% if @current_user.pencil_count == 1 %>
    <img src="/images/pencil1.png" />
  <% end %>
  
  <% if @current_user.pencil_count == 2 %>
    <img src="/images/pencil2.png" />
  <% end %>
  
  <% if @current_user.pencil_count == 3 %>
    <img src="/images/pencil3.png" />
  <% end %>
  
  <% if @current_user.pencil_count == 4 %>
    <img src="/images/pencil4.png" />
  <% end %>
  
  <% if @current_user.pencil_count == 5 %>
    <img src="/images/pencil5.png" />
  <% end %>
  
  <% if @current_user.pencil_count == 6 %>
    <img src="/images/pencil6.png" />
  <% end %>
  
  <% if @current_user.pencil_count == 7 %>
    <img src="/images/pencil7.png" />
  <% end %>
  
  <% if @current_user.pencil_count == 8 %>
    <img src="/images/pencil8.png" />
  <% end %>
  
  <% if @current_user.pencil_count == 9 %>
    <img src="/images/pencil9.png" />
  <% end %>
  
  <% if @current_user.pencil_count == 10 %>
    <img src="/images/pencil10.png" />
  <% end %>
  
</div>